version: '3.8'

services:
  # Keycloak avec H2 (pour les tests)
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.2
    container_name: microservices-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8180:8080"
    command: start-dev
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
