version: '3.8'

services:
  postgres-product:
    image: postgres:15
    container_name: postgres-product
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"
    volumes:
      - postgres-product-data:/var/lib/postgresql/data

  postgres-order:
    image: postgres:15
    container_name: postgres-order
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5436:5432"
    volumes:
      - postgres-order-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.2
    container_name: keycloak
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8180
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: "true"
      # Disable CSP completely for iframe support
      KC_SPI_SECURITY_CSP_ENABLED: "false"
      KC_SPI_SECURITY_CSP_REPORT_ONLY: "true"
      # Allow all CORS
      KC_HTTP_CORS_ENABLED: "true"
      KC_HTTP_CORS_MAX_AGE: 1000
      KC_HTTP_CORS_ALLOWED_METHODS: "*"
      KC_HTTP_CORS_ALLOWED_HEADERS: "*"
      KC_HTTP_CORS_EXPOSED_HEADERS: "*"
    command: start-dev
    ports:
      - "8180:8080"
    volumes:
      - ./keycloak-init.sh:/opt/keycloak/init.sh
      - ./keycloak-themes:/opt/keycloak/themes
      - keycloak-data:/opt/keycloak/data

volumes:
  postgres-product-data:
  postgres-order-data:
  keycloak-data: